#name: Main project workflow
name: CI
on:
  # Build on demand:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Docker images tag'
        required: true
      hversion:
        description: 'Helm charts version'
        required: true
  push:
    # Sequence of patterns matched against refs/heads
    branches:
    # Push events on master branch
    - master
    # And also in workflow test branch
    - wf-test
    # Sequence of patterns matched against refs/tags
    tags:
    - v*.*.*             # Push events to vx.y.z

  pull_request:
    branches:
    - master

  # Publish `vx.y.z` tags as releases:
  #release:
  #  types: [published]

jobs:
  format_style:
    name: Check source code format
    runs-on: ubuntu-latest
    steps:
    -
      name: Check out the repo
      uses: actions/checkout@v4
    -
      name: Run frankwolf format
      run: |
          sources=$(find . -name "*.hpp" -o -name "*.cpp")
          #docker run -i --rm -v $PWD:/data frankwolf/astyle ${sources}
          #git diff --exit-code
          # docker cannot write on host directory:
          ! docker run -i --rm -v $PWD:/data frankwolf/astyle --dry-run ${sources} | grep ^Formatted

  build_and_push_docker_images_as_local:
    needs: format_style
    name: Build and push docker images as local
    runs-on: ubuntu-latest
    #if: github.event_name == 'push'
    steps:
    -
      name: Check out the repo
      uses: actions/checkout@v4
    -
      name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        # logout at job end:
        logout: true
    -
      name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
        # logout at job end:
        logout: true
    -
      name: Build local builder image
      id: docker_build1
      uses: docker/build-push-action@v2
      with:
        tags: ghcr.io/testillano/h2agent_builder:local
        file: Dockerfile.build
        build-args: |
          base_os=ubuntu
          base_tag=latest
        context: .
        platforms: linux/amd64
        no-cache: true
        push: true
    -
      name: Image digest
      run: echo ${{ steps.docker_build1.outputs.digest }}
    -
      name: Build local project image
      id: docker_build2
      uses: docker/build-push-action@v2
      with:
        tags: ghcr.io/testillano/h2agent:local
        file: Dockerfile
        build-args: |
          base_os=ubuntu
          base_tag=local
        context: .
        platforms: linux/amd64
        push: true
    -
      name: Image2 digest
      run: echo ${{ steps.docker_build2.outputs.digest }}
    -
      name: Build local ct image
      id: docker_build3
      uses: docker/build-push-action@v2
      with:
        tags: ghcr.io/testillano/ct-h2agent:local
        file: ct/Dockerfile
        context: ct
        platforms: linux/amd64
        push: true
    -
      name: Image3 digest
      run: echo ${{ steps.docker_build3.outputs.digest }}
    -
      name: Build local project training image
      id: docker_build4
      uses: docker/build-push-action@v2
      with:
        tags: ghcr.io/testillano/h2agent_training:local
        file: Dockerfile.training
        build-args: |
          os_type=ubuntu
          base_tag=local
        context: .
        platforms: linux/amd64
        push: true
    -
      name: Image4 digest
      run: echo ${{ steps.docker_build4.outputs.digest }}

  build_coverage:
    needs: build_and_push_docker_images_as_local
    name: Build local coverage image
    runs-on: ubuntu-latest
    steps:
    -
      name: Check out the repo
      uses: actions/checkout@v4
    -
      name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
        # logout at job end:
        logout: true
    -
      name: Build and push coverage image
      id: docker_build6
      uses: docker/build-push-action@v2
      with:
        tags: ghcr.io/testillano/h2agent:latest-cov
        file: Dockerfile.coverage
        build-args: |
          base_tag=local
          os_type=ubuntu
        context: .
        platforms: linux/amd64
        push: true
    -
      name: Image digest
      run: echo ${{ steps.docker_build5.outputs.digest }}

  unit_tests_and_coverage:
    needs: build_coverage
    name: Run unit tests and upload coverage info
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    container:
      image: ghcr.io/testillano/h2agent:latest-cov
      options: "--entrypoint sh"
    steps:
    -
      name: Run coverage script
      run: /var/coverage.sh
    -
      name: Setup Pages
      uses: actions/configure-pages@v3
    -
      name: Create badge json file
      run: |
        value=$(grep -oP '(?<=<td class="headerCovTableEntryMed">)[0-9]+\.[0-9]+' /code/coverage/index.html | head -n 1) # tail -n -1 to get Functions coverage
        if [ "$(echo "${value} < 50" | bc -l)" = "1" ]; then
          color="red"
        elif [ "$(echo "${value} < 80" | bc -l)" = "1" ]; then
          color="orange"
        else
          color="brightgreen"
        fi

        echo '{"schemaVersion":1,"label":"coverage","message":"'${value}'%","color":"'${color}'"}' > /code/coverage/badge.json
    -
      name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: /code/coverage
    -
      name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v4


  push_docker_images_as_latest:
    needs: unit_tests_and_coverage
    name: Push docker images to Docker/Github Hubs as latest
    runs-on: ubuntu-latest
    #if: github.event_name == 'push'
    steps:
    -
      name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        # logout at job end:
        logout: true
    -
      name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
        # logout at job end:
        logout: true
    -
      name: Push images manually
      run: |
        # workflow dispatch event:
        image_tag=${{ github.event.inputs.tag }}
        echo Workflow dispatch image_tag=$image_tag

        # Strip git ref prefix from version
        [ -z "${image_tag}" ] && image_tag=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')

        # Strip "v" prefix from tag name
        [[ "${{ github.ref }}" == "refs/tags/"* ]] && image_tag=$(echo $image_tag | sed -e 's/^v//')

        # Use Docker `latest` tag convention
        [ "$image_tag" == "master" ] && image_tag=latest

        echo Processed image_tag=$image_tag

        for imgbn in h2agent_builder h2agent ct-h2agent h2agent_training
        do
          img=ghcr.io/testillano/${imgbn}:local
          echo "Pull '${img}' image:"
          docker pull --platform linux/amd64 ${img}

          # Only push public images to Docker Hub
          if [ "${imgbn}" = "h2agent" ] || [ "${imgbn}" = "h2agent_training" ]; then
            hubs="docker.io ghcr.io"
          else
            hubs="ghcr.io"
          fi

          for hub in ${hubs}
          do
            rmt_img=${hub}/testillano/${imgbn}:${image_tag}
            docker tag ${img} ${rmt_img}
            echo "Re-tag and push '${rmt_img}' to ${hub}"
            docker push ${rmt_img}
          done
        done

  helm_publish:
    needs: push_docker_images_as_latest
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Publish Helm charts
      uses: stefanprodan/helm-gh-pages@master
      with:
        token: ${{ secrets.PERSONAL_ACCESS_TOKEN_REPO_FULL }}
        charts_dir: helm
        repository: helm
        branch: gh-pages
        chart_version: ${{ github.event.inputs.hversion }}
